<div class="Loginfullpage">
  <img src="assets/Arivpay_Logo_new.png" class="center"> 
	<div class="login-form">
        <h2 class="text-center">Ariv Pay - Check Out</h2><br>       
    <!--    <div>
            <input class="form-control" placeholder = "Enter Amount" type="text" required="required">
        </div><br><br> -->
   
        <div>
			<button type="submit" class="btn btn-primary" (click)="pairTerminal()">Pair Terminal</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" (click)="checkout()">Check Out</button>
        </div>
    
    </div>
</div>